/*
Author: Vladislav Stebenev
*/


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*Debug*/
.out{
    outline:1px solid red;
}
/*End Debug*/

/*Spam protection*/

input[name="city"]{display:block;width:2px;height:3px;margin-bottom:-3px;opacity:.01}
/*End Spam protection*/

html, body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #4B4B4B;
}

body{
    margin-top:3.8em;
}

a{
    color:#3174C3;
}

.wrapper{
    max-width:1200px;
    /*    padding:0em 2em;*/
}

.wrapper_navbar-p{
    padding: 0em 1em;
}

.navbar{
    background: #fff;
    /*border-bottom: 1px solid #000066;*/
    box-shadow: 0px 0px 43px rgba(51,51,51,0.1);
    font-size:0.9rem;
    color: #000;
}

.navbar-brand{
    margin-left:0.4em;
}

.navbar-nav{
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link{
    color:#000;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover{
    background:#F8F8F8;
    color:#000;
}

.navbar .dropdown-item:active{
    background:#3174C3;
    color:#fff;
}

.contact img{
    margin-right:0.5em;
}

.navbar__contact{
    margin-left: 2em;
    font-size: 1.2em;
}

.navbar__contact a {
    color:#000;
    text-decoration: none;
}

.navbar__contact a:hover{
    color: rgba(0, 0, 0, 0.65);
}

.navbar__search {
    margin-left:5px;
    position:relative;
}
.navbar__search input {
    height: 100%;
    width: 0;
    padding-right:27px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
}
.navbar__search input:focus {
    width: 300px;
    border-bottom: 2px solid  #3174c3;
    background: #fff;
    padding: 0.5em;    
}

.navbar__search button {
    background:#C4C4C4;
    border:none;
    margin-top:4px;
}
.navbar__search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 1rem;
    color: #000;
}


.breadcrumb{
    font-size:0.8rem;
    padding: 1em 0;
    margin:0;
    background:inherit;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0.2rem;
    color: #4B4B4B;
    content: "›";
}

.breadcrumb-item+.breadcrumb-item {
    padding-left:0.2rem;
}

.breadcrumb-item.active {
    color: #4B4B4B;
}

.breadcrumb-item a {
    color: #4B4B4B;
}

.breadcrumb_top{
    margin-top: 1em;
}

.content{
    padding-top:1em;
    padding-bottom:1em;
}

.content h1{
    font-weight:normal;
    color:#4B4B4B;
    font-size:2rem;
}

.content h2,h3,h4,h5,h6{
    font-weight: bold;
    color:#4B4B4B;
}

.content h4{
    font-size:1.2rem;
}
.content__text-as-headline_inline{
    font-size:1.2rem; font-weight: bold;
}
.content__article{
    margin-bottom:2em;
    padding-top: 1em;
}

.service-query-btn-link{
    position:relative;
    color:#3174C3;
    border-radius: 0;
    padding:1.3em 2em 1.3em 5.5em;
    font-weight: bold;
    text-transform: uppercase;
    background: #F8F8F8;
}

.service-query-btn-link__icon{
    position:absolute;
    top:0;
    left:0;
    padding:0.4em;
    background:#E6E6E6;
    height:100%;
}

.service-query-btn-link:hover{
    box-shadow: 0px 0px 43px rgba(51,51,51,0.1);
    background:#fff;
    color:#3174C3;
}

.sidebar{
    padding-top: 2.5em;
    padding-bottom: 1em;
}

.sidebar-service-query{
    margin-bottom: 2em;
}

.service-query-btn-link_d-block {
    display:block;
    padding:1.3em 2em 1.3em 5.5em;
}

.block-title{
    text-transform: uppercase;
    font-weight: normal;
    font-size:1.2rem;
}

.block-title_underlayer{
    padding:1.1em 1em;
    border-top:2px solid #3174C3;
    background:#F8F8F8;
}

.recomendations__item{
    display: block;
    border-bottom: 1px solid #3174C3;
    padding: 0.5em;
    color:#3174C3;
    font-weight:bold;
    background: url(../images/icons/right-arrow.svg) no-repeat 10px 11px;
    padding-left: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.recomendations__item:hover{
    box-shadow: 0px 0px 43px rgba(51,51,51,0.1);
    transform: scale(1.01,1.01);
    color:#3174C3;
    text-decoration: none;
}


.faq-container{
    padding-top: 1em;
    padding-bottom:1em;
}

.block-title_wrap-content{
    display: inline-block;
}

.faq-slider{
    margin: 10px auto;
}

.faq-slider__item{
    border-top:2px solid #3174C3;
    background: #F8F8F8;
    padding:1em;
}

.faq-slider .owl-item{
    margin-left:2px;
    margin-right:2px;
}

.faq-slider .owl-stage-outer{
    margin-right:2px;
}

.slider .arrow-owl{
    width:11px;
    height:40px;
}

.slider .arrow-owl_left{
    background: url(../images/icons/slider-prev.svg);
}

.slider .arrow-owl_right{
    background: url(../images/icons/slider-next.svg);
}

.slider .arrow-owl_left, .slider .arrow-owl_right {
    position: absolute;
    top: 35%;
}

.slider .arrow-owl_left{
    left:-1%;
}
.slider .arrow-owl_right{
    right:-1%;
}

.slider .owl-nav{
    height:0;
}
.slider .owl-dots{
    margin-bottom:1em;
}

.slider .owl-dots .owl-dot.active span{
    background: #3174C3;
}

.slider .owl-stage-outer{
    margin-bottom:1em;
}

.slider .owl-stage{
    display: flex;
    flex-direction: row;
}

.slider .owl-item {
    display: flex;
}

.faq-item_question{
    font-weight: bold;
    border-bottom:1px solid #D9D9D9;
    padding-bottom: 1rem;
}

.faq-item-title{
    color:#000066;
    text-transform: uppercase;
    font-weight: bold;
}

.materials-by-subject-container{
    padding-top:2em;
    padding-bottom:1em;
}

.materials-by-subject{
    margin-bottom:3em;    
}

.materials-by-subject-header{
    position:relative;
    margin-bottom:1em;
}

.materials-by-subject-header__show-all-btn-link{
    position:absolute;
    right:0;
    top:0;
}

.show-all-btn-link{
    padding: 0.1em 1.5em 0.1em 0.4em;
    background-image: url(../images/icons/show-all-link-right-arrow.svg);
    background-position: 94% center;
    background-repeat: no-repeat;
    text-transform: none;
    color:#4B4B4B;
}

.show-all-btn-link:hover{
    /*    box-shadow: 4px 0px 43px rgba(51,51,51,0.2);
        transform: scale(1.01,1.01);*/
    color:#4B4B4B;
}

.flex-item{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.material-preview-item-wrapper{
    display:flex;
    flex-flow:row wrap;
}

.material-preview-item{
    flex:1 0 0%;
    display:flex;
    flex-direction:column;
}
.material-preview-item__thumbnail{
    background:#C4C4C4;
    height: 113px;
}

.card__thumbnail{
    height: 113px;
}

.card__content{
    font-size:0.8rem;
    padding:1em;
    background: #F8F8F8;
    min-height: 113px;
}

.material-preview-item__thumbnail:hover{
    box-shadow: 4px 0px 43px rgba(51,51,51,0.2);
}

.flex-item__content{
    flex-grow: 1;
}
.material-preview-item__content{
    font-size:0.8rem;
    padding:1em;
    background: #F8F8F8;
    flex: 1 1 auto;
}

.meta-info{
    margin:0;
}

.card__meta-info{
      margin:0;
}

.material-preview-item-content__title{
    font-size:1.4em;
    color:#4B4B4B;
    line-height:1.3;
    letter-spacing: 0.03em;
}

.material-preview-item-content__title:hover{
    text-decoration: none;
    color:#000;
    border-bottom: 1px dashed #000066;
}

/*Catalog page*/

.header__image{
    margin-top:2em;
}
.header__image img{
    width:100%;
}

.header__footer{
    background:rgba(179, 179, 179, 0.09);
    padding:1em 1.5em;
    color:#4B4B4B;
}

.description{
    margin:2em 0;
}

.service-catalog{
    padding:0 14px;
}

.service-catalog__item{
    display: flex;
    flex-flow:row wrap;
    margin-bottom:2em;
    padding:2px;
}

.service-item{
    background: #F8F8F8;
    font-size:1.125rem;
    /*font-size:18px;*/
    flex:1 0 0%;
    display:flex;
    flex-direction:column;
    border-top:2px solid #3174C3;
}


.service-item__title{
    background: url(../images/icons/right-arrow.svg) no-repeat 1.1em 1.3em;
    padding:1em 1em 1em 2.5em;
    flex: 1 1 auto;
    font-weight:bold;
}

.service-item__title a{    
    color: #3174C3;
}

.service-item__title a:hover{
    color:#3174C3;
}

.service-item__price{
    border-top:1px solid #E5E5E5;
    color:#4B4B4B;
    font-weight: bold;
    padding:1em;
    text-align: center;    

}

/*Home page*/
.services-container{
    margin-top:2em;
    margin-bottom:2em;
}

.service-wrapper__header{
    display: block;
    background:#f8f8f8;
    padding-bottom:1em;
}
.service-title{
    min-height:5em;
}

.service-wrapper__header:hover{
    text-decoration: none;
    box-shadow: 0px 0px 43px rgba(51,51,51,0.1);
    transform: scale(1.01,1.01);
}

.recomendations__item_notSideBar{
    font-weight:normal;
    color:inherit;
    border-bottom-color: #D9D9D9;
}

.recomendations__item_notSideBar:hover{
    color:inherit;
}

.footer-bg{
    background:#656565;
}

.footer{
    padding:2em 0;
    color: #fff;
}

.footer .navbar-brand{
    margin:0 0 2em 0;
}

.footer a{
    color: #fff;
}
.footer .nav-link:hover{
    text-decoration: underline;
}

.footer .nav-link{
    display: inline-block;
}

.footer__nav  .active{
    font-weight: bold;
}

.footer__phone-wrapper{
    margin-bottom: 2em;
}

.phone:hover{
    text-decoration: none;
}
.phone_big{
    font-weight:bold;
    font-size: 1.5em;
}

.footer__email-wrapper{
    margin-bottom:2em;
}

/*Contacts page*/

/*.contacts-block{

}*/

@media screen and (max-width: 1200px){
    .wrapper_navbar-p{
        padding:0;
    }

    .service-query-btn-link_d-block {
        padding:1.3em 0.4em 1.3em 4.6em;
    }
}
@media screen and (max-width: 1100px){
    /*    .service-query-btn-link_d-block {
            font-size:0.9em;
            padding: 1.3em 0.4em 1.3em 4.4em;
        }*/
}

@media screen and (max-width: 1050px){
    /*    .service-query-btn-link_d-block{
            padding: 1.2em 0.4em 1.2em 4.2em;
        }*/
}

@media screen and (max-width: 1024px)  {
    .navbar__search {
        margin-left:0;
    }
    .navbar__search input {
        height: 100%;
        top: 0;
        left: 0;
    }
    .navbar__search input:focus {
        width: 100%;  
    }

    .service-query-btn-link_d-block {
        padding: 1.2em 0em 1.2em 4.1em;
    }
}

@media screen and (max-width: 1000px){
    .service-query-btn-link_d-block{
        font-size: 0.85em;
        padding: 1.2em 0.4em 1.2em 4.1em
    }
}

@media screen and (max-width: 991px) {
    .footer__email-wrapper{
        margin:2em 0;
    }
}

@media screen and (max-width: 880px){
    .service-query-btn-link_d-block{
        font-size:0.8em;
        padding: 1em 0em 1em 3.6em;
    }
}

@media screen and (max-width: 820px){
    .service-query-btn-link_d-block{
        font-size:0.7em;
        padding: 1em 0em 1em 3.6em;
    }
}



@media screen and (max-width: 768px){
    .navbar__contact{
        margin-left: 0.5em;
        font-size: 1em;
    }

    .footer__nav{
        margin-bottom:2em;
    }
    .footer__email-wrapper{
        margin-top:0;
    }
}




@media screen and (max-width: 576px){
    .materials-by-subject{
        margin-bottom:2.5em;
    }


}



@media screen and (max-width: 445px)  {
    .service-query-btn-link{
        display:block;
    }
}

@media screen and (max-width: 425px)  {
    .wrapper{
        padding:0em 1em;
    }

    .navbar-brand {
        margin:0;    
    }

    .navbar-brand img{
        height:24px;
    }

    /*    .breadcrumb_top {
            margin-top: 1em;
        }*/

    .content h1{
        font-size:2em;
    }

    .content h4,
    .content__text-as-headline_inline{
        font-size:1.2em;
    }


}

@media screen and (max-width: 375px){

    .content h1{
        font-size:1.5em;
    }
    .service-query-btn-link{
        font-size: 0.8em;
        padding: 1.3em 2em 1.3em 5.5em
    }
}