           <section class="materials-by-subject">
                <header class="row">
                    <div class="col-md-12">
                        <h6 class="materials-by-subject-header block-title">
                            Статьи                   
                            <a  class="show-all-btn-link materials-by-subject-header__show-all-btn-link  d-none d-sm-block" href="/{$_modx->makeUrl(27)}">
                                Все статьи
                            </a>                            
                        </h6>
                    </div>
                </header>
                <section class="row">
                    <div class="col-md-12 owl-carousel owl-theme slider">
                        {'!pdoResources' | snippet : [    
                        'parents' => '27',
                        'depth' => '1',
                        'hideContainers' => '1',
                        'tpl' => 'material-item-card_bs',
                        'includeTVs' => 'img',
                        'tvPrefix' => '',
                        'sortdir' => 'asc',
                        ]}
                </section>
            </section>