<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="owl-carousel2-2.3.4/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {
        $(".faq-slider").owlCarousel(
                {
                    loop: true,
                    navText: [
                        '<div class="arrow-owl arrow-owl_left"></div>',
                        '<div class="arrow-owl arrow-owl_right"></div>'
                    ],
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false,
                        },
                        600: {
                            items: 2,
                            nav: true,
                        },
                        1000: {
                            items: 3,
                            nav: true,
                        },
                        1700: {
                            items: 3,
                            nav: true,
                        }
                    }
                }
        );

    });
</script>
<script>
    $(document).ready(function () {
        $(".slider").owlCarousel(
                {
                    loop: true,
                    margin: 4,
                    navText: [
                        '<div class="arrow-owl arrow-owl_left"></div>',
                        '<div class="arrow-owl arrow-owl_right"></div>'
                    ],
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false,
                        },
                        700: {
                            items: 2,
                            nav: true,
                        },

                        750: {
                            items: 3,
                            nav: true,
                        },

                        1000: {
                            items: 4,
                            nav: true,
                        },
                        1700: {
                            items: 4,
                            nav: true,
                        }
                    }
                }
        );

    });
</script>
