<footer class="footer-bg">
    <div class="container-fluid wrapper">
        <div class="row footer">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <a class="navbar-brand" href="/[[1]]">
                    <img src="images/bs-logo-white.svg" alt="Logo"/>
                </a>
                <p> 
                    Информация на сайте не является публичной офертой, определяемой положениями ст. 437 Гражданского кодекса РФ
                </p>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <ul class="nav flex-column footer__nav">
                    {'pdoMenu' | snippet : [
                    'level' => 1,
                    'parents'=>24,
                    'tplOuter' => '@INLINE [[+wrapper]]',
                    'hereClass' =>'active',
                    'tpl' => '@INLINE <li class="nav-item"><a class="nav-link [[+classnames]]" href="/[[+link]]">[[+menutitle]]</a>[[+wrapper]]</li>',
                    ]} 
                    <!--                    <li class="nav-item">
                                            <a class="nav-link active" href="#">Экология</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Пожарная безопасность</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Консалтинг</a>
                                        </li>-->
                    <!--                    <li class="nav-item">
                                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Другое</a>
                                        </li>-->
                </ul>

            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <ul class="nav flex-column footer__nav">
                    {'pdoMenu' | snippet : [
                    'startId' => 0,
                    'resources' => -24,
                    'level' => 1,                    
                    'tplOuter' => '@INLINE [[+wrapper]]',
                    'hereClass' =>'active',
                    'tpl' => '@INLINE <li class="nav-item"><a class="nav-link [[+classnames]]" href="/[[+link]]">[[+menutitle]]</a>[[+wrapper]]</li>',
                    ]} 
                    <!--                    <li class="nav-item">
                                            <a class="nav-link" href="#">Новости</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Статьи</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Контакты</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">О нас</a>
                                        </li>
                                    </ul>-->
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12 footer__phone-wrapper">                             
                        г. Москва<br>
                        <a  class="phone" href="tel:+74951234567">
                            +7&nbsp;(495)&nbsp;123&nbsp;-&nbsp;45&nbsp;-&nbsp;67
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12 footer__phone-wrapper">                             
                        г. Самара<br>
                        <a class="phone" href="tel:+78461234567">
                            +7&nbsp;(846)&nbsp;123&nbsp;-&nbsp;45&nbsp;-&nbsp;67
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-3 col-sm-12 footer__email-wrapper">
                        <a class="footer__email" href="mailto:info@asreda.ru">
                            info@asreda.ru
                        </a>
                    </div>
                </div>
                <div class="row copyright-wrapper">
                    <div class="col-lg-12">
                        <p>
                            &copy;&nbsp;2019 ООО «Безопасная среда»
                        </p>
                        <p>
                            Разработка сайта <a href="https://admix.pro/">ADMiX Digital Agency</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
