<form  method="post">
    <div class="row row-sm-offset">
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <input type="text" class="form-control admixForm-control" name="name" value="" data-form-field="Name" required id="name-form1-g" placeholder="Как Вас зовут?*">
            </div>
        </div>
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <input type="email" class="form-control admixForm-control" name="email" value="" data-form-field="Email" required id="email-form1-g" placeholder="E-mail*">
            </div>
        </div>
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <input type="tel" class="form-control admixForm-control" name="phone" value="" data-form-field="Phone" id="phone-form1-g" placeholder="Телефон">
            </div>
        </div>
    </div>
    <div class="form-group">
        <textarea class="form-control admixForm-control" name="message" rows="4" data-form-field="Message" required id="message-form1-g" placeholder="Сообщение*"></textarea>
    </div>
    <div class="form-group">
        <input type="checkbox" name="approve[]" value="approve" required>Я даю свое <a href="[[~27]]"> <span style="color:#ff3a3a; font-weight:bold;">согласие на обработку персональных данных</span></a>
    </div>
    <div class="text-center">
         <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
    <input type="text" name="nospam" value="" class="d-none" />
    <input type="text" name="city" placeholder="Город*">
    [[!+fi.successMessage]]
</form>
