   <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
         <base href="[[++site_url]]safe-environment/">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic" rel="stylesheet">

        <link rel="stylesheet" href="owl-carousel2-2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="owl-carousel2-2.3.4/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Безопасная среда - [[*pagetitle]]</title>
    </head>
