<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content">
    <div class="card">
        <a href="/{$uri}">
            {if $img !=null}
            <img class="card-img-top card__thumbnail" src="/{$img}" alt="">
            {else}
            <div class="card-img-top material-preview-item__thumbnail"></div>
            {/if}
        </a>
        <div class="card-body card__content">           
            <p class="card-text card__meta-info">
                <time>{$publishedon | date_format : "%d.%m.%Y"}</time>&nbsp;&ndash;&nbsp;
                <a class="meta-info__category" href="/[[~[[+parent]]]]">[[#[[+parent]].pagetitle]]</a>
            </p>
            <a  class="material-preview-item-content__title" href="/{$uri}">
                 {$pagetitle | striptags | ellipsis : "50"}
            </a>
        </div>
    </div>
</div>
