                        <div class="material-preview-item flex-item">
                            <a href="/{$uri}">
                                <div class="material-preview-item__thumbnail">
                                    <!--images/content/news-1.jpg-->
                                    <img class="img-fluid" src="{$img | phpthumbon : "w=289&h=113&zc=1"}" alt="news-image" >
                                </div>
                            </a>                            
                            <div class="material-preview-item__content flex-item__content material-preview-item-content">
                                <p class="meta-info">
                                    <time>{$publishedon | date_format : "%d.%m.%Y"}</time>&nbsp;&ndash;&nbsp;
                                    <a class="meta-info__category" href="/[[~[[+parent]]]]">[[#[[+parent]].pagetitle]]</a>
                                </p>
                                <a  class="material-preview-item-content__title" href="/{$uri}">
                                    [[+pagetitle]]
                                </a>
                            </div>
                        </div>