            <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                <div class="container-fluid wrapper wrapper_navbar-p">
                    <a class="navbar-brand" href="[[~1]]">
                        <img src="images/bs-logo.svg" alt="Logo"/>
                    </a>
                    <div class="contact navbar__contact">
                        <a class="d-none d-sm-block " href="mailto:info@bs.ru">
                            <img src="images/icons/email.svg" alt="">
                            info@bs.ru
                        </a>
                    </div>
                    <div class="contact navbar__contact">
                        <a class="d-none d-sm-block " href="tel:88000077777">
                            <img src="images/icons/phone.svg" alt="">
                            8 800 007 777
                        </a>
                    </div>
                    [[$navbar-nav_bs]]
                </div>
            </nav>