<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
        {'pdoMenu' | snippet : [
        'startId' => 0,
        'level' => 2,
        'tplOuter' => '@INLINE [[+wrapper]]',
        'tpl' => '@INLINE <li class="nav-item"><a class="nav-link" href="/[[+link]]">[[+menutitle]]</a>[[+wrapper]]</li>',
        'tplInner' => '@INLINE <div class="dropdown-menu" aria-labelledby="navbarDropdown">[[+wrapper]]</div>'
        'tplInnerRow' => '@INLINE <a class="dropdown-item" href="/[[+link]]">[[+menutitle]]</a>
        [[+wrapper]]',
        'tplParentRow' => '@INLINE  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/[[+link]]" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[[+menutitle]]</a>
            [[+wrapper]]
        </li>
        ',
        ]}  
        <li class="nav-item">
            [[!SimpleSearchForm?
            &tpl=`@INLINE
            <form class="navbar__search" action="/[[~51]]" method="[[+method]]">
                 <input type="text" name="[[+searchIndex]]" id="[[+searchIndex]]" value="[[+searchValue]]" placeholder="Поиск..." />
                <button type="submit"></button>
            </form>
            `
            ]]

        </li>
    </ul>


    <!--
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Услуги</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="catalog.html">Экология</a>			  
                <a class="dropdown-item" href="#">Пожарная безопасность</a>
                <a class="dropdown-item" href="#">Консалтинг</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Статьи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">О нас</a>
        </li>
        <li class="nav-item">                             
            <form class="navbar__search">
                <input type="text" placeholder="Поиск..."/>
                <button type="submit">                   
                </button>
            </form>
        </li>
    </ul>
    
    -->



</div>