{var $parent=$_modx->resource.parent}
{var $thisID=$_modx->resource.id}

<!--По умолчанию вывод всех новостей-->
{var $id=28}

<!--Если Услуги - Экология-->
{if $parent==24 AND $thisID==25}
{var $id=32}
{/if}

<!--Если Экология - Услуга--> 
{if $parent==25}
{var $id=32}
{/if}

<!--Если Экология - Новость--> 
{if $parent==32}
{var $id=$parent}
{/if}


<!--Если Услуги - Пожарная безопасность-->
{if $parent==24 AND $thisID==26}
{var $id=35}
{/if}

<!--Если Пож.безопасность - Услуга--> 
{if $parent==26}
{var $id=35}
{/if}

<!--Если Пож.безоп - Новость--> 
{if $parent==35}
{var $id=$parent}
{/if}

<!--Если Услуги - Консалтинг-->
{if $parent==24 AND $thisID==38}
{var $id=40}
{/if}

<!--Если Консалтинг - Услуга-->
{if $parent==38}
{var $id=40}
{/if}

<!--Если Консалтинг - Новость--> 
{if $parent==40}
{var $id=$parent}
{/if}



<section class="materials-by-subject">
    <header class="row">
        <div class="col-md-12">
            <h6 class="materials-by-subject-header block-title">
                Новости по теме
                <a  class="show-all-btn-link materials-by-subject-header__show-all-btn-link  d-none d-sm-block" href="/{$_modx->makeUrl($id)}">
                    Все новости
                </a>                            
            </h6>
        </div>
    </header>
    <section class="row">
        <div class="col-md-12 owl-carousel owl-theme slider">


            {'!pdoResources' | snippet : [    
            'parents' => $id,
            'depth' => '1',
            'limit' => '10',
            'hideContainers' => '1',
            'tpl' => 'material-item-card_bs',
            'includeTVs' => 'img',
            'tvPrefix' => '',
            'sortdir' => 'asc',
            ]}

            <!--            <div class="material-preview-item">
                            <a href="#">
                                <div class="material-preview-item__thumbnail">
                                    <img class="img-fluid" src="images/content/news-1.jpg" alt="news-image" >
                                </div>
                            </a>                            
                            <div class="material-preview-item__content material-preview-item-content">
                                <p class="meta-info">
                                    <time>13.03.2019</time>&nbsp;&ndash;&nbsp;
                                    <a class="meta-info__category" href="#">Экология</a>
                                </p>
                                <a  class="material-preview-item-content__title" href="#">
                                    1Главная цель повышения квалификации руководителей
                                </a>
                            </div>
                        </div>-->

    </section>
</section>