           <section class="materials-by-subject">
                <header class="row">
                    <div class="col-md-12">
                        <h6 class="materials-by-subject-header block-title">
                            Новости                    
                            <a  class="show-all-btn-link materials-by-subject-header__show-all-btn-link  d-none d-sm-block" href="/{$_modx->makeUrl(28)}">
                                Все новости
                            </a>                            
                        </h6>
                    </div>
                </header>
                <section class="row">
                    <div class="col-md-12 owl-carousel owl-theme slider">
                        {'!pdoResources' | snippet : [    
                        'parents' => '28',
                        'depth' => '1',
                        'hideContainers' => '1',
                        'tpl' => 'material-item-card_bs',
                        'includeTVs' => 'img',
                        'tvPrefix' => '',
                        'sortdir' => 'asc',
                        ]}
                        
                        
                        
<!--                        <div class="material-preview-item">
                            <a href="#">
                                <div class="material-preview-item__thumbnail">
                                    <img class="img-fluid" src="images/content/news-1.jpg" alt="news-image" >
                                </div>
                            </a>                            
                            <div class="material-preview-item__content material-preview-item-content">
                                <p class="meta-info">
                                    <time>13.03.2019</time>&nbsp;&ndash;&nbsp;
                                    <a class="meta-info__category" href="#">Экология</a>
                                </p>
                                <a  class="material-preview-item-content__title" href="#">
                                    1Главная цель повышения квалификации руководителей
                                </a>
                            </div>
                        </div>
                        <div class=" material-preview-item">
                            <a href="#">
                                <div class="material-preview-item__thumbnail">

                                </div>
                            </a>
                            <div class="material-preview-item__content material-preview-item-content">
                                <p class="meta-info">
                                    <time>13.03.2019</time>&nbsp;&ndash;&nbsp;
                                    <a href="#">Экология</a>
                                </p>
                                <a  class="material-preview-item-content__title" href="#">
                                    Об организации взаимодействия сторон при осуществлении производственного и государственного контроля
                                </a>
                            </div>
                        </div>
                        <div class="material-preview-item">
                            <a href="#">
                                <div class="material-preview-item__thumbnail">
                                    <img class="img-fluid" src="images/content/news-2.png" alt="news-image" >
                                </div>
                            </a>
                            <div class="material-preview-item__content material-preview-item-content">
                                <p class="meta-info">
                                    <time>13.03.2019</time>&nbsp;&ndash;&nbsp;
                                    <a class="meta-info__category" href="#">Экология</a>
                                </p>
                                <a  class="material-preview-item-content__title" href="#">
                                    Главная цель повышения квалификации руководителей
                                </a>
                            </div>
                        </div>
                        <div class=" material-preview-item">
                            <a href="#">
                                <div class="material-preview-item__thumbnail">

                                </div>
                            </a>
                            <div class="material-preview-item__content material-preview-item-content">
                                <p class="meta-info">
                                    <time>13.03.2019</time>&nbsp;&ndash;&nbsp;
                                    <a href="#">Экология</a>
                                </p>
                                <a  class="material-preview-item-content__title" href="#">
                                    Об организации взаимодействия сторон при осуществлении производственного и государственного контроля
                                </a>
                            </div>
                        </div>
                    </div>-->
                </section>
            </section>